footer.site-footer {
  padding: 0 1.875em;
  .footer-inner {
    color: #78909c;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.5;
    padding: 2.45em 1.125em;
    a {
      color: #6a7074;
    }
  }
}
