<div class="container customContainer">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-header">
                  <strong>თანამშრომლის</strong> რეგისტრაცია
              </div>
              <div class="card-body card-block">
                  <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <div class="row form-group">
                          <div class="col col-md-3"><label for="text-input" class=" form-control-label">სახელი</label></div>
                          <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="სახელი" class="form-control"></div>
                      </div>
                      <div class="row form-group">
                          <div class="col col-md-3"><label for="text-input" class=" form-control-label">გვარი</label></div>
                          <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="გვარი" class="form-control"></div>
                      </div>
                      <div class="row form-group">
                          <div class="col col-md-3"><label for="text-input" class=" form-control-label">პაროლი</label></div>
                          <div class="col-12 col-md-9"><input type="password" id="text-input" name="text-input" placeholder="პაროლი" class="form-control"></div>
                      </div>
                      <div class="row form-group">
                          <div class="col col-md-3"><label for="text-input" class=" form-control-label">Email</label></div>
                          <div class="col-12 col-md-9"><input type="email" id="text-input" name="text-input" placeholder="Email" class="form-control"></div>
                      </div>
                      <div class="row form-group">
                          <div class="col col-md-3"><label for="text-input" class=" form-control-label">ტელეფონი</label></div>
                          <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="მობილურის ნომერი" class="form-control"></div>
                      </div>
                  </form>
              </div>
              <div class="card-footer">
                  <button type="submit" class="btn btn-outline-success">
                      შენახვა
                  </button>
                  <button type="submit" class="btn btn-outline-danger">
                      წაშლა
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
