.container {
  max-width: 100%;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 200px;

  .topContainer {
    flex: 1;

    i {
      color: green;
      float: right;
      font-size: 25px;
    }
    span {
      display: block;
      width: inherit;
    }
    [data-title] {
      font-size: 30px;
      position: relative;
      cursor: help;
    }

    [data-title]:hover::before {
      content: attr(data-title);
      position: absolute;
      top: -26px;
      display: inline-block;
      padding: 3px 6px;
      right: -10px;
      color: black;
      border-radius: 3px;
      font-size: 12px;
      background: rgba($color: #000000, $alpha: 0.3);
    }
    [data-title]:hover::after {
      content: "";
      position: absolute;
      bottom: -10px;
      display: inline-block;
      color: #fff;
    }

    .containerTitle {
      text-align: center;
      width: 100%;
      display: block;
      font-size: 20px;
      color: black;
    }
  }
  .centerContainer {
    flex: 1;

    .selectBoxes {
      display: flex;
      flex-direction: row;
      .selectBox {
        margin-left: 5%;
        flex: 1;
        justify-content: center;
        align-items: center;
      }
    }
    .timerContainer {
      span {
        font-size: 11px;
      }
    }
  }
  .btmContainer {
    .customBtn {
      ::ng-deep .btn {
        background: #00585f !important;
        &:hover {
          background: #10797f !important;
        }
      }
    }
  }
}
